@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/karla-v31-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/karla-v31-latin-700.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-family: Karla, sans-serif;
  background-color: var(--Green-200);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --Green-200: hsl(148, 38%, 91%);
  --Green-600: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);

  --White: hsl(0, 0%, 100%);
  --Grey-500: hsl(186, 15%, 59%);
  --Grey-900: hsl(187, 24%, 22%);
}
/* Utility Class */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}
main {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--White);
}
h1 {
  font-size: 2rem;
  color: var(--Grey-900);
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.9rem;
  color: var(--Grey-900);
  font-weight: 400;
  margin-bottom: 1rem;
}
h2::after {
  position: absolute;
  content: "*";
  color: var(--Green-600);
  margin-left: 1ch;
}

input[type="email"],
input[type="text"],
.querytype label {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--Grey-900);

  padding: 0.75rem;
  margin-bottom: 1rem;
}
input[type="email"]:hover,
input[type="text"]:hover,
input[type="email"]:focus-visible,
input[type="text"]:focus-visible {
  background-color: var(--Green-200);
  border: 1px solid var(--Green-600);
  cursor: pointer;
  outline: 0;
}
.querytype input {
  accent-color: var(--Green-600);
}
.querytype label:has(input:checked) {
  background-color: var(--Green-200);
}

.querytype label {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--Grey-900);
}

.message {
  min-height: 6rem;
}

.consent h2 {
  display: inline-block;
  margin-left: 3ch;
}
.consent input {
  accent-color: var(--Green-600);
}
button {
  width: 100%;
  background-color: var(--Green-600);
  padding: 0.75rem 0;
  border: 0;
  border-radius: 5px;
  color: var(--White);
  font-weight: 700;
}

button:hover {
  background-color: #063f36;
}
@media (max-width: 40.375em) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
